/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* contenitore di tutto il corpo della pagina */
#contenitore-input-output {
  background-color: #C41329;
  height: 100vh;
}

/* regole generali due sezioni principali */
#input-utente, #output-utente {
  background-color: white;
  margin: 0 15%;
}

h1 {
  text-align: center;
  color: white;
}

/* sezione input utente */
#input-utente {

}

/* sezione info utente */
#info {
  display: flex;
  justify-content: space-around;
  padding: 50px;
}

/* bottoni */
#bottoni {
  text-align: center;
}
